################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MonSiteWeb/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
/.vs/MonSiteWeb/CopilotIndices/17.13.433.20974/CodeChunks.db
*.vsidx
